<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>

    <ComponentGroup Id="id_reg" >
      <Component Id="RegistryValueServer" Guid="{3F50CCAA-41BF-4458-AE47-619215BC8138}" KeyPath="yes" Directory="INSTALLDIR" >

        <RegistryValue Id="Registry2" Root="HKLM" Key="SOFTWARE\Georgian Microsystems\Codex DS\Tools17" Name="VersionMajor" Value="7" Type="integer" />
        <RegistryValue Id="Registry3" Root="HKLM" Key="SOFTWARE\Georgian Microsystems\Codex DS\Tools17" Name="VersionMinor" Value="2021" Type="integer" />
        <RegistryValue Id="Registry4" Root="HKLM" Key="SOFTWARE\Georgian Microsystems\Codex DS\Tools17" Name="Version" Value="7.2021.2019.2001" Type="string" />

      </Component>
    </ComponentGroup >
  </Fragment>
</Wix>